# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/

# Configs
.eslintrc.json
.prettierrc
.stylelintrc.json
package-lock.json
package.json
tsconfig.json

# Coverage
coverage

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
style-guide.md